<div id="elections-container">
  <div ng-repeat="election in elections" id="election-{{election.electionName}}">
    <h3 class="election-name">{{election.electionName}}</h3>
    <time>{{election.date}}</time>
    <div id="election-{{$index + 1}}-positions">
      <ul ng-repeat="position in election.positions" class="list-group">
        <li class="list-group-item">
          <h4>Position {{$index + 1}}: {{position.positionName}}</h4>
          <p>Table of Candidates</p>
          <table>
            <tr>
              <th>Candidate Name</th>
              <th>Party Affiliation</th>
              <th>Incumbent</th>
            </tr>
            <tr ng-repeat="candidate in position.candidates">
              <td>
                <a href="candidate.html?candidateId={{candidate.id}}&electionName={{election.electionName}}">
                    {{candidate.candidateName}}</a>
              </td>
              <td>
                {{candidate.partyAffiliation}}
              </td>
              <td ng-if="candidate.isIncumbent">Yes</td>
              <td ng-if="!candidate.isIncumbent">No</td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>
