<nav class="navbar px-4 py-3 mx-2 float-left" id="navigation-bar">
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a class="nav-link" href="/index.html">Home</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" href="/education.html">Voter Education</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" href="/">Polling Locations</a>
    </li>
    <li ng-if="isDirectoryPage" ng-repeat="election in elections"
        class="navbar-item">
      <a class="nav-link" href="#election-{{$index + 1}}">
          {{election.electionName}}</a>
    </li>
  </ul>
</nav>
