/* General Styling */
a {
  text-decoration: none;
}

a:hover {
  color: #f0eded;
  text-decoration: none;
}

body {
  color: #474747;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#navigation-bar {
  background-color: #4788c4;
  float: left;
  font-size: 22px;
  height: 100%;
  position: fixed;
}

#navigation-bar a {
  color: #474747;
  font-family: 'Roboto Slab', serif;
}

#site-header {
  color: #f0eded;
  background-color: #b32424;
  font-family: 'Roboto Slab', serif;
}