a {
  text-decoration: none;
}

a:hover {
  color: #f0eded;
  text-decoration: none;
}

body {
  color: #474747;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.election-name {
  color: #1d5b8f;
}

.material-icons {
  font-size: 48px;
  vertical-align: bottom;
}

#navigation-bar {
  background-color: #4788c4;
  font-size: 22px;
  height: 100%;
  max-width: 25%;
  position: fixed;
}

.nav-link {
  color: #474747;
  font-family: 'Roboto Slab', serif;
}

#site-header {
  background-color: #b32424;
  color: #f0eded;
  font-family: 'Roboto Slab', serif;
}
