
<div class="candidate-page-info" id="official-info-container">
  <h3>{{officialInfo.candidateName}}</h3>
  <img src={{officialInfo.photoURL}} 
      alt="Picture of {{officialInfo.candidateName}}">
  <ul>
    <li>Position: {{officialInfo.position}}</li>
    <li>Party Affiliation: {{officialInfo.partyAffiliation}}</li>
    <li>Email: {{officialInfo.email}}</li>
    <li>Phone number: {{officialInfo.phoneNumber}}</li>
  </ul>
  <p ng-if="officialInfo.isIncumbent"> {{officialInfo.candidateName}}
        currently holds office as {{officialInfo.position}}</p>
  <p>Click <a href={{officialInfo.website}}>here </a>to be redirected
      to {{officialInfo.candidateName}}'s website.</p>
</div>
<div ng-repeat="newsArticle in newsArticles" class="candidate-page-info" 
    id="news-articles-container">
  <article id="news-article-{{$index+1}}">
    <h3>{{newsArticle.title}}</h3>
    <a href={{newsArticle.url}}>Source</a>
    <h5>{{newsArticle.publisher}}</h5>
    <time>{{newsArticle.publishedDate}}</time>
    <div class="news-article-content">
      <em>Content</em>
      <p>{{newsArticle.content}}</p>
      <em>Abbreviated Content</em>
      <p>{{newsArticle.abbreviatedContent}}</p>
      <em>5-Sentence Summarized Content</em>
      <p>{{newsArticle.summarizedContent}}</p>
      <a href={{newsArticle.url}}>Read the original article</a>
    </div>
    <hr>
  </article>
</div>
<div class="candidate-page-info" id="social-media-container">
  <a class="twitter-timeline" data-width="400" data-height="600"
      href={{twitterURL}}>Tweets by {{twitterHandle}}</a>
</div>
